* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff7ed;
  font-family: "Inter";
  color: #161616;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 700;
  line-height: 40px;
}

h2 {
  margin: 2px 0;
  font-weight: 700;
}

p {
  line-height: 24px;
  color: #161616;
}

a:-webkit-any-link {
  text-decoration: none;
}

.btn {
  border: none;
  color: #ffffff;
  padding: 15px 25px;
  border-radius: 8px;
  font: inherit;
  font-size: 16px;
  font-weight: 500;
}

.mt {
  margin-top: 30px;
}

.mb {
  margin-bottom: 30px;
}

.main-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 20px 30px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff7ed;
  padding: 0 30px;
  height: 110px;
}

.nav-logo {
  font-size: 25px;
  font-weight: 800;
  text-decoration: none;
  color: #000000;
}

.nav-menu {
  display: flex;
  font-weight: 500;
  font-size: 16px;
}

.nav-menu a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #4d4d4d;
  padding: 0 10px;
}

a.active-link {
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
}

.back-button {
  display: block;
  color: black;
  text-decoration: none;
  margin-top: 60px;
}

.back-button span:hover {
  text-decoration: underline;
}

.hero {
  background-image: url(./assets/home-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  color: #ffffff;
  padding: 80px 40px;
}

.hero-container {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.hero-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 40px;
}

.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 50px;
}

.hero-btn {
  background-color: #ff8c38;
  width: 100%;
  text-align: center;
}

.about-image {
  width: 100%;
}

.about-explore {
  background-color: #ffcc8d;
  border-radius: 5px;
  padding: 0 30px 30px 30px;
  margin-bottom: 50px;
}

.about-explore > h2 {
  padding-block: 37px;
}

.explore-btn {
  background-color: #161616;
  margin-top: 30px;
  color: #ffffff;
}

.explore-btn > a {
  text-decoration: none;
}

.van-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 50px;
}

.van-tile > img {
  width: 100%;
  border-radius: 10px;
}

.van-tile a {
  text-decoration: none;
}

.van-info-text {
  display: flex;
  flex-direction: column;
}

.van-info-text > h3 {
  font-size: 20px;
  font-weight: 600;
  color: #161616;
  margin-bottom: 0;
}

.van-type-filter-btns {
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
}

.van-type-filter-btns button {
  margin-right: 20px;
  height: 34px;
}

.van-type-filter-btns > a {
  margin-right: 15px;
}

.van-type {
  text-align: center;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

i[class*="van-type-"] {
  padding: 7px 14px;
}

.van-detail {
  margin-bottom: 50px;
}

.van-detail-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.van-price {
  font-size: 20px;
  font-weight: 500;
}

.van-price span {
  font-weight: 800;
}

.footer {
  display: flex;
  background-color: #252525;
  color: #aaaaaa;
  height: 75px;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  flex-shrink: 0;
}

.host-menu {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  color: #4d4d4d;
}

.host-menu > a {
  padding-right: 20px;
  font-weight: 500;
  color: #4d4d4d;
}

.host-van-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.host-van-container h1 {
  margin-right: auto;
}

.host-van-tile {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  padding: 15px 25px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.host-van-tile img {
  border-radius: 5px;
  height: 66px;
  margin-right: 20px;
}

.host-van-tile-info {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.host-van-tile-info h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.host-van-tile-info p {
  color: #4d4d4d;
  margin: 0;
}

.host-van-tile-button {
  padding: 10px;
  background-color: #4d4d4d;
  font-weight: 500;
  font-size: 12px;
}

.host-van-detail-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  margin-top: 30px;
}

.host-van-detail-top {
  display: flex;
  align-items: center;
  width: 100%;
}

.host-van-detail-top h3 {
  font-size: 18px;
}

.host-van-detail-top h3 span {
  font-weight: 400;
}

.host-van-detail-top img {
  border-radius: 5px;
  margin-right: 20px;
  height: 150px;
}

.host-van-detail-container p {
  margin-top: 5px;
  font-size: 14px;
}

.host-van-detail-container p span {
  font-weight: bold;
}

.host-van-detail-info h3 {
  margin: 0;
}

.host-van-detail-info h2 {
  margin: 15px 0;
}

.host-van-price p {
  color: #ffffff;
  user-select: none;
}

.host-van-price h2 {
  font-weight: 500;
}

.host-van-price h2 span {
  font-weight: 300;
  color: #4d4d4d;
}

.host-van-photos img {
  width: 100px;
  border-radius: 5px;
}

.host-van-photos p {
  color: #ffffff;
  user-select: none;
}

.back-container {
  display: flex;
  flex-direction: column;
}

.back-container a {
  text-align: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.login-form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.login-form > input:focus {
  outline: none;
}

.login-form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.login-form > button {
  background-color: #ff8c38;
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: white;
  font-family: "Inter", sans-serif;
}

@media only screen and (min-width: 900px) {
  .van-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 580px) {
  .van-container {
    grid-template-columns: 1fr;
  }
}
